
@{

    ViewData["Title"] = "Log in to your account";
    Layout = null;
}

<h3> Number of Clients : @ViewBag.count</h3>
<h3> Number of Doctors : @ViewBag.dcount </h3>
<h3> DigitalPres :             @ViewBag.dpres</h3>
<h3> Doctors Count: @ViewBag.doctors</h3>


@*<h3> Number of Delivery Persons : @ViewBag.delpcount </h3>
<h3> Number of Pharmacies : @ViewBag.phcount </h3>*@
         
          
           